<app-modal [data]="data" (callback)="callback($event)">
  <div class="container-post-modal">
    <form [formGroup]="postForm">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input 
          matInput 
          formControlName="title"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea 
          matInput 
          formControlName="description" 
          rows="10" 
          minlength="30"
          required
        ></textarea>
      </mat-form-field>
    </form>
  </div>
</app-modal>