<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <div class="img cursor-pointer" (click)="snav.toggle()">
      <img src="../../../assets/images/icon.png" alt="">
    </div>
    <h1 class="title">El Portal de Periodistas Independientes</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="auth.login()" *ngIf="!auth.loggedIn">
        <mat-icon>account_circle</mat-icon>
        <span>{{ 'test.signin' | translate }}</span>
      </button>
      <button mat-menu-item (click)="auth.logout()" *ngIf="auth.loggedIn">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <div class="container-not-logged" *ngIf="!user">
        Para crear nuevas noticias y realizar posteos debes estar logueado.
        <br>
        <br>
        Puedes utilizar el servicio de imagenes de nuestros amigos de <a target="_blank" href="https://unsplash.com/">unsplash</a> para inspirarte.
        <br>
        <div class="sign-in cursor-pointer" (click)="auth.login()">¡Crea una cuenta, o ingresa!</div>
      </div>

      <div class="container-logged" *ngIf="auth.loggedIn">
        <div class="user-info">
          <div class="user-info-p">
            <div class="user-img">
              <img src={{user.picture}} alt={{user.picture}}>
            </div>
            <div class="user-name">{{user.given_name}}</div>
          </div>
          <div class="user-info-email">
            <div class="email-title">
              Email verificado
            </div>
            <div class="email">
              {{ user.email }}
            </div>
          </div>
        </div>
        <div class="time">
          <div class="time-title">
            Inicio sesión
          </div>
          <div class="time-date">
            {{ user.updated_at | date:'medium' }}
          </div>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-tab-group>
        <mat-tab label="Global News">
          <app-news></app-news>
        </mat-tab>
        <mat-tab label="Posts">
          <app-posts></app-posts>
        </mat-tab>
        <mat-tab label="Dashboard">
          <app-dashboard></app-dashboard>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>