<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="titleFormGroup">
    <form [formGroup]="titleFormGroup">
      <ng-template matStepLabel>Completa tu título</ng-template>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="Example: Covid-19 Latest News" formControlName="title" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="descriptionFormGroup">
    <form [formGroup]="descriptionFormGroup">
      <ng-template matStepLabel>Completa tu descripción</ng-template>
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea
          placeholder="Example: Covid-19 Latest News"
          matInput 
          formControlName="description" 
          rows="10" 
          minlength="30"
          required
        ></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Elige una imagen</ng-template>
      <div class="container-images">
        <app-img-post 
          [image]="image" 
          (click)="selectImage(i)" 
          [ngClass]="{'selected': imageSelected === i}"
          *ngFor="let image of images; let i = index"></app-img-post>
      </div>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button color="primary" (click)="createPost()">Crear</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>