<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" src={{post.userId.picture}} />
    <mat-card-title>{{post.userId.name}}</mat-card-title>
    <mat-card-subtitle>{{post.userId.email}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{post.imageUrl}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h3>{{post.title}}</h3>
    <p>
      {{post.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="comment()" *ngIf="userId === !post.userId._id">Comentar</button>
    <button mat-button (click)="delete()" *ngIf="userId === post.userId._id">Eliminar</button>
  </mat-card-actions>
</mat-card>